* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgb(214, 182, 182);
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: rgb(82, 63, 63);
}

.outside-container {
  display: flex;
  justify-content: space-evenly;
  height: 80%;
  width: 90%;
  gap: 1rem;
}

.cards-container {
  width: 100%;
  display: grid;
  gap: 10px;
  justify-items: center;
  margin: 0 auto 2rem auto;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  width: 90%;
  min-width: 100px;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(93, 64, 64);
  border-radius: 0.5rem;
  background-color: rgb(185, 147, 147);
  font-size: 1rem;
  cursor: pointer;
}

.card:hover {
  background-color: rgb(161, 129, 129);
}

.card:active {
  background-color: rgb(226, 187, 187);
}

.output {
  border: 2px solid rgb(93, 64, 64);
  width: 100%;
  height: 90%;
  overflow: auto;
}

@media (max-width: 700px) {
  .cards-container {
    gap: 4px;
    width: 95%;
  }

  .outside-container {
    flex-direction: column;
  }
  .card {
    width: 100%;
    aspect-ratio: 3 / 4;
    max-height: 5rem;
  }
}
